* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.app {
  background-color: blue;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.button-list {
  display: flex;
  flex-direction: row;
  border: 1px black;
  background-color: red;
}

.button {
  background-color: green;
  width: 145px;
  height: 28px;
  padding: 5px;
  margin: 5px;
}

.issue {
  background-color: orange;
}

.issues-row {
  display: flex;
  flex-direction: row;
}

.links {
  margin-left: 40px;
}

.link-and-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 30px;
  width: 100%;
}

.repo-header {
  /* background-color: rgb(250, 251, 252); */
  background-color: yellow;
  width: 100%;
  height: 112px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-bar-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background-color: red;
  padding: 10px 20px 10px 20px;
}

.search-bar {
  width: 40%;
}

#root {
  width: 100%;
}
